<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,tr,td{
            border: 1px solid black
        }
    </style>
</head>

<h1>Customers</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Orders</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{ customer.first_name }} {{ customer.last_name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone_number }}</td>
          <td>
            <ul>
              {% for order in customer.orders_set.all %}
                <li>
                  <p>Order Date: {{ order.order_date }}</p>
                  <p>Total Amount: {{ order.total_Amount }}</p>
                  <ul>
                    {% for item in order.items.all %}
                      <li>
                        <p>Product Name: {{ item.product.product_Name }}</p>
                        <p>Category: {{ item.product.category }}</p>
                        <p>Description: {{ item.product.description }}</p>
                        <p>Price: {{ item.price }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


 {% comment %} <h1>Customers List</h1>
    {% for customer in customers %}
      <h2>{{ customer.first_name }} {{ customer.last_name }}</h2>
      <p>Email Address: {{ customer.email}}</p>
      <p>Phone Number: {{ customer.phone_number }}</p> 
         <h3>Order History:</h3>
        <ul>
        {% for order in customer.orders_set.all %}
          <h1>Order Date: </h1>
          <li> {{ order.order_date }}</li>
          <h1>Total Amount: </h1>
          <li> {{ order.total_Amount }}</li>
          <ul>
          {% for item in order.items.all %}
            <li>{{ item.product.product_Name }} - {{ item.quantity }} x {{ item.price }}</li>
            <h1>description:</h1>
            <h4>{{item.product.description}}</h4>
            <hr>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul> 
   {% endfor %} {% endcomment %}
</body>
</html>